.main_visual_guideline{
  max-width: 1152px;
  margin: 0 auto;
  .main_visual{
    width: 1024px;
    height: 448px;
    margin: 0 auto;
    position: relative;
    margin-top: 115px;
    @media screen and (max-width:767px){
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .main_img{
    @media screen and (max-width:767px){
      width: 100%;
    }
  }

  .main_sub_box1,
  .main_sub_box2{
    position: absolute;
  }
  .main_sub_box1{
    top: -100px;
    left: -80px;
    @media screen and (max-width:767px){
      position: static;
      text-align: center;
    }
  }
  .main_sub_box2{
    top: 236px;
    left: 589px;
    @media screen and (max-width:767px){
      top: 275px;
      left: 0;
    }
  }

  .main_textcontent{
    @media screen and(max-width:767px){
      text-align: center;
    }
    .sp_br{
      display: none;
      @media screen and(max-width:767px){
        display: block;
      }
    }
  }
}