body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px 150px;
    position:relative;
  }

  .header_right ul{
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .header_right li{
      margin-right: 30px;
      margin-top: 50px;
  }

// ーーーーーヘッダーここまでーーーーー

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer p{
    padding: 40px;
}

@media screen and (max-width:768px) {
  header{
    
  }
  footer p{
    padding: 25px;
  }
}